simple_salesforce==1.10.1
pytest==5.4.3
https://github.com/heroku/salesforce-bulk/archive/f5db48284fed4e516e69cccdc991df57dd00a6c8.zip#egg=salesforce-bulk==2.2.0rc1
schedule==0.6.0
pandas==1.0.4
numpy==1.22.0
